<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Logout</title>
    <link rel="stylesheet" href="{% static 'TPO_App/css/login.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body class="container" style="background-image: url({% static 'TPO_App/images/jmit.jpg' %});">
    <br><br>
    <br><br>
    <div class="container">
      <div id="cover-caption">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
          <form class="" action="C:/Users/Neha/Downloads/login1.html" method="post">
            <div class="slide-right">
              <h3 class="text-white">You have been logged out!</h3>
            </div>
            <br>
            <div class="line"></div>
            <br>
            <div class="slide-left">
              <h3 class="text-white">Login Again?</h3><br>
            </div>
            <button type="submit" class="btn btn-primary btn-lg"><a class="text-white" href="{% url 'TPO_App:user_login' %}">Login</a></button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
