<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="{% static 'TPO_App/css/login.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body class="container" style="background-image: url({% static 'TPO_App/images/jmit.jpg' %});">
    <br><br>
    <br><br>
    <section class="min-vh-100">
      <div id="cover-caption">
        <div class="container">
          <div class="row text-white">
              <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                  <h1 class="">Sign Up Page</h1>
                  <br>
                  <div class="px-2">
                      <form class="justify-content-center" method="POST">
                          {% csrf_token %}
                          <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="username" class="form-control" placeholder="Enter Your Name" required>
                            <br>
                              <label>Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Enter a valid Email Address" required>
                            <br>
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Enter password" required>
                              <br>
                              <label> Confirm Password</label>
                            <input type="password" name="confirm_password" class="form-control" placeholder="Confirm password" required>
                          </div>

                          <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                      </form>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
